$COLOR--failed: #f36c4a;
$COLOR--charcoal-grey: #464547;
$COLOR--gray-47: #777777;
$COLOR--gray-60: #999999;
$COLOR--gray-91: #e9e9e9;
$COLOR--black: #000000;
$COLOR--white: #f5f5f5;
$COLOR--white-two: #ffffff;
$COLOR--gray: #a2a1a1;
$COLOR--blue: #65b9ff;
$COLOR--neon-blue: #81fbff;
$COLOR--dark-blue: #000722;
$COLOR--neon-blue-shadow: #2e5fff;
$COLOR--neon-orange: #ffce81;
$COLOR--orange-red: #ff3222;
$COLOR--neon-orange-shadow: #ff4800;
$COLOR--gold: #f2de7b;
