.jackpot {
  width: 100%;
  height: 100%;
  max-width: 500px;
  padding: 18px;
  box-sizing: border-box;
}
.block-title {
  font-family: $FONT-CONDBOLD;
  font-size: 15px;
  color: $COLOR--neon-orange;
  text-shadow:
    2px 0 10px $COLOR--neon-orange-shadow,
    -2px 0 10px $COLOR--neon-orange-shadow,
    0 2px 10px $COLOR--neon-orange-shadow,
    0 -2px 10px $COLOR--neon-orange-shadow;
  text-transform: uppercase;
}
.jackpot-items {
  width: 100%;
  height: 50px;
  margin-top: 3px;
  font-size: 25px;
  font-family: fantasy;
  font-weight: bolder;
  line-height: 50px;
  color: white;
}
.jackpot-item {
  position: relative;
  float: left;
  width: 33%;
  height: 100%;
  padding-left: 45px;
  box-sizing: border-box;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  &.gold {
    background-image:
      linear-gradient(to top, #fefacf, #bf792a 5%, #fed204 30%, #feeb8e 50%, #fed204 70%, #bf7a2a 95%, #efe15c 100%),
      linear-gradient(#e8e9ea, #e8e9ea);

    .jackpot-coin {
      background-image: url(./img/gold.png);
    }
  }

  &.silver {
    background-image:
      linear-gradient(to top, #ffffff, #636464 5%, #cecdcd 30%, #ffffff 50%, #cecdcd 70%, #636464 95%, #ffffff 100%),
      linear-gradient(#e8e9ea, #e8e9ea);

    .jackpot-coin {
      background-image: url(./img/silver.png);
    }
  }

  &.bronze {
    background-image:
      linear-gradient(to top, #fff1cf, #9e5324 5%, #ec964b 30%, #fef1d0 50%, #ec964b 70%, #9e5424 95%, #fef1d0 100%),
      linear-gradient(#e8e9ea, #e8e9ea);

    .jackpot-coin {
      background-image: url(./img/bronze.png);
    }
  }

  .jackpot-coin {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
}

