.index-page {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.main-banner {
  position: relative;
  width: 100%;
  height: 350px;
  background-image: url(./img/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1920px 500px;
  
  @media (max-width: $SCREEN_MD_MAX) {
    background-size: unset;
  }
}
.animated-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 700px;
}
.statistics-wrapper {
  position: relative;
  width: 100%;
  height: 107px;
  background-color: $COLOR--black;
}
.statistics-block {
  float: left;
  display: inline-block;
  width: 50%;
  height: 105px;
}
.separator {
  width: 100%;
  max-width: 1000px;
  height: 1px;
  background: $GRADIENT--separator;
  margin: 0 auto;

  &:last-child {
    clear: both;
  }
}
.games-buttons {
  height: 30px;
  width: 100%;
  max-width: 1000px;
  margin: 15px auto;
}
.game-button-holder {
  display: inline-block;
  position: relative;
  width: 180px;
  height: 30px;
  margin-right: 25px;

  &:last-child {
    margin-right: 0;
  }
}
.sort-search-area {
  position: relative;
  width: 100%;
  height: 35px;
  max-width: 1000px;
  margin: 0 auto 5px auto;
  color: $COLOR--white;
}
.search-wrapper {
  position: absolute;
  right: 0;
  display: inline-block;
  width: 240px;
  height: 35px;
  vertical-align: top;
}
.main-content {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.promotions-block {
  float: right;
  position: relative;
  width: 390px;
  height: 285px;
}
