.index-page {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.main-banner {
  position: relative;
  width: 100%;
  height: 350px;
  background-image: url(./img/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1920px 500px;
  
  @media (max-width: $SCREEN_MD_MAX) {
    background-size: unset;
  }
}
.animated-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 70%;
  max-width: 800px;
}
.automats-layer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(./img/logo/logo-automat.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  animation: up-n-down 3s infinite;
  animation-timing-function: linear;
  animation-delay: 1s;
}
.chips-layer {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 100%;
  background-image: url(./img/logo/logo-chips.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  animation: bigger-smaller 2s infinite;
  animation-timing-function: linear;
}
.label-layer {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 75%;
  height: 100%;
  background-image: url(./img/logo/logo-label.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.statistics-wrapper {
  position: relative;
  width: 100%;
  height: 107px;
  background-color: $COLOR--black;
}
.statistics-block {
  float: left;
  display: inline-block;
  width: 50%;
  height: 105px;
}
.separator {
  width: 100%;
  max-width: 1000px;
  height: 1px;
  background: $GRADIENT--separator;
  margin: 0 auto;

  &:last-child {
    clear: both;
  }
}
.games-buttons {
  height: 30px;
  width: 100%;
  max-width: 1000px;
  margin: 15px auto;
}
.game-button-holder {
  display: inline-block;
  position: relative;
  width: 180px;
  height: 30px;
  margin-right: 25px;

  &:last-child {
    margin-right: 0;
  }
}
.sort-search-area {
  position: relative;
  width: 100%;
  height: 35px;
  max-width: 1000px;
  margin: 0 auto 5px auto;
  color: $COLOR--white;
}
.search-wrapper {
  position: absolute;
  right: 0;
  display: inline-block;
  width: 240px;
  height: 35px;
  vertical-align: top;
}
.main-content {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.promotions-block {
  float: right;
  position: relative;
  width: 390px;
  height: 285px;
}
.game-block-holder {
  display: inline-block;
  width: 180px;
  height: 140px;
  margin-right: 25px;
  margin-bottom: 17px;

  &:nth-child(5n+12), &:nth-child(4), &:nth-child(7) {
    margin-right: 0;
  }
}
.more-games-btn {
  margin: 40px auto 30px auto;
  height: 30px;
  width: 130px;
}
@keyframes up-n-down {
  0% {  top: 0; }
  25% {  top: -20px; }
  50% {  top: 0; }
  75% {  top: 20px; }
  100% {  top: 0; }
}
@keyframes bigger-smaller {
  0% {  width: 80%; }
  25% {  width: 85%; }
  50% {  width: 80%; }
  75% {  width: 75%; }
  100% {  width: 80%; }
}
